body {
    font-family: Righteous;
    width: 100%;
    font-size: 20px;
}

#bgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -99;
}

.container { 
    margin-left: 25%;
    margin-right: 25%;
}

#questionpage {
    width: 100%;
    max-width: 670px;
    margin: auto;
}

.answerChoices, #timer, #currentQ, #question {
    margin-top: 2%;
}

#timer, #currentQ, .choiceList, .button, #status, #question, #message, #correct, #wrong, #nAnswered, #correctAnswer {
    text-align: center;
}

#currentQ {
    background-color: #ffffff3f;
    border: 1px solid #0000003f;
    border-radius: 10px;
    box-shadow: 0 0 1px #000000;
    width: 100%;
    max-width: 240px;
    margin: auto;
    margin-top: 2%;
}

#timer, #correctAnswer, #message {
    color: #ff0000ab;
    text-shadow: 2px 2px #000000;
}

#message {
    margin-bottom: 3%;
    font-size: 50px;
}

#timer {
    font-size: 40px;
    width: 100%;
    max-width: 200px;
    margin: auto;
}

#question, #status {
    font-size: 30px;
}

#status {
    color: #ffffff;
    text-shadow: 2px 2px #000000;
}


.choiceList:hover {
    border: 1px solid #ffffff;
    background-color: #ffffff75;
    box-shadow: 0 0 20px #ffffff;
    border-radius: 30px;
}

h1 {
    font-size: 8vw;
    text-align: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right:10%;
    margin-bottom: 5%;
    padding: 15px;
}

h1 {
    font-family: Monoton;
    background: url("../images/elec.gif");
    background-position: center;
    background-size: 80%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 25px;
    text-shadow: 0 0 7px #ffffff;
    margin-bottom: 2%;
}

.button {
    border: 1px solid #ffffff;
    border-radius: 30px;
    width: 100%;
    max-width: 200px;
    margin: auto;
    font-size: 40px;
    box-shadow: 0 0 7px #ffffff;
    background-color: #ffffff69;
}

.button:hover {
    box-shadow: 0 0 20px #ffffff;
    background-color: #ffffffb9;
}

.AnswerImage {
    width: 100%;
    max-width: 1000px; 
    height: 200px; 
    object-fit: cover;
    box-shadow: 0 2px 8px #000000;
    border-radius: 6px;
    outline: 1px solid #ffffff67;
    outline-offset: -4px;
}

#resetButton {
    margin-top: 7%;
}